In [2]:
import pyodbc
import pandas as pd

In [21]:
conn= pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-H7FCQF7\SQLEXPRESS;'
                      'Database=Covid;'
                      'Trusted_Connection=yes;'
)
cursor=conn.cursor()
df=pd.read_csv("Ecuador_crisis_covid.csv")
cursor.execute('''
		CREATE TABLE Ecuador_covid_19(
			Fecha nvarchar(10) primary key,
            Incremento_muertos nvarchar(10),
            Muertos nvarchar(10),
            Muertos_millon nvarchar(10),
            Incremento_confirmados nvarchar(10),
            Confirmados nvarchar(10))
               ''')
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO Ecuador_covid_19 (Fecha, Incremento_muertos, Muertos, Muertos_millon, Incremento_confirmados, Confirmados)
                VALUES (?,?,?,?,?,?)
                ''',
                row.Fecha, 
                row.Incremento_muertos,
                row.Muertos,
                row.Muertos_millon, 
                row.Incremento_confirmados,
                row.Confirmados
                   
                )

conn.commit()
cursor.close()

In [22]:
df=pd.read_csv("Ecuador_crisis_covid.csv")
df

,Fecha,Incremento_muertos,Muertos,Muertos_millon,Incremento_confirmados,Confirmados
0,01/03/2022,0,35.223,"2.011,48",0.0,827.760
1,28/02/2022,0,35.223,"2.011,48",0.0,827.760
2,27/02/2022,0,35.223,"2.011,48",0.0,827.760
3,26/02/2022,0,35.223,"2.011,48",0.0,827.760
4,25/02/2022,0,35.223,"2.011,48",0.0,827.760
...,...,...,...,...,...,...
95,26/11/2021,18,33.185,"1.895,09",307.0,526.137
96,25/11/2021,23,33.167,"1.894,07",432.0,525.830
97,24/11/2021,13,33.144,"1.892,75",513.0,525.398
98,23/11/2021,3,33.131,"1.892,01",453.0,524.885
99,22/11/2021,3,33.128,"1.891,84",79.0,524.432